.demo-card-wide.mdl-card {
width: 600px;
height: 300px;
 //outline: limegreen 10px solid;

}


#name {
display:flex;
margin-top: 10px;
justify-content: left;

}

#contact{
  display: flex;

}


.mdl-button {
// outline: red solid 5px;
margin-left: 10px ;

}



.demo-card-wide > .mdl-card__title {
color: #fff;
height: 64px;
background-color:indigo;
}

.mdl-card__title-text {
position: relative;
top: 6px;

}

.demo-card-wide > .mdl-card__menu {
color: #fff;
}


#mycard, #mycard2 {
height: 600px;
width:100%;
display:flex;
flex-direction: row;
// outline: red solid 10px;
justify-content: center;
align-items: center;
}


#next {
position: relative;
top: 95px;
right: 38px;
z-index:1;
opacity: 1;
}

#next:disabled {
  background-color: #dfdfdf;
}


#nextessay {
position: relative;
top: 95px;
right: 38px;
z-index:1;
opacity: 1;
}

#nextessay:disabled {
  background-color: #dfdfdf;
}


#contactform {

//  padding-bottom:100px;
}

.mdl-textfield {
  margin-right: 10px;
}



.material-icons.md-18 {
  font-size: 18px;
}
