#success {
  color: #ee6e73;
  text-align: center;
  padding: 20px;
}

/* resume upload */
#uploadelements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //outline: pink 2px solid;
  margin-top: 30px;
}



.none {
  display: none;
}


#file-input-text-div {
  width: 250px;
  margin-left: 20px;
}

 .mdl-card__supporting-text {
  height: 265px;
}
/* end resume upload */


#essaytext-expanded {
  display: none;
  width: 550px;
}
#essaytext {
  width: 300px;
}



.hidden {
  display:none;
}
#scroll {
  height: 400px;
  width: 320px;
  //outline: 4px dotted blue;
  z-index: 10;
  //overflow: hidden;
}


#container {
  height: 400px;
  width: calc(4*320px);
  outline: 2px solid limegreen;
  transition: all .4s ease-in-out;

  display: flex;
  flex-direction: row;

}


.demo-card-square.mdl-card {
  width: 320px;
  height: 400px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
//  outline: red solid 2px;
}



.mdl-card__supporting-text > .mdl-textfield {
  width: 200px;

}

.mdl-card__actions > .mdl-button {
  float: right;
}

@media all and (min-width: 600px)  {
  #container {
    height: 300px;
    width: calc(4*600px);
  }

  .demo-card-square.mdl-card {
    width: 600px;
    height: 300px;
  }

  #scroll {
    height: 300px;
    width: 600px;
  }

  #essaytext-expanded {
    display: block;
  }
#uploadelements {
  flex-direction: row;
}
#essaytext {
  display: none;
}

/* this makes all cards have uniform content height */
.mdl-card__supporting-text {
  height: 155px;
}
