#success {
  color: #ee6e73;
  text-align: center;
  padding: 20px;
}

/* resume upload */
#uploadelements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //outline: pink 2px solid;
  margin-top: 30px;
}



.none {
  display: none;
}


#file-input-text-div {
  width: 250px;
  margin-left: 20px;
}

#container .mdl-card__supporting-text {
  height: 265px;
}
/* end resume upload */


/*#essaytext-expanded {
  display: none;
  width: 550px;
}*/




#scroll {
  height: 402px;
  width: 322px;
  //outline: 1px dotted blue;
  overflow: hidden;
}


#container {
  height: 400px;
  width: calc(4*320px);
  //outline: 2px solid limegreen;
  transition: all .4s ease-in-out;

  display: flex;
  flex-direction: row;

}


#container .demo-card-square.mdl-card {
  width: 320px;
  height: 400px;
}
#container  .demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
//  outline: red solid 2px;
}



#container  .mdl-card__supporting-text > .mdl-textfield {
  width: 200px;

}



#essaytext {
   width: 300px;
  // outline: red solid 2px;
}

#essaytext .mdl-textfield.is-focused {
  width: 300px;
}



#container  .mdl-card__actions > .mdl-button {
  float: right;
}

@media all and (min-width: 600px)  {
  #container {
    height: 300px;
    width: calc(4*600px);
  }

  #container  .demo-card-square.mdl-card {
    width: 600px;
    height: 300px;
  }

  #scroll {
    height: 302px;
    width: 602px;
  }

/* resize essay box */

#essaytext {
   width: 550px;
   height: 90px;
  // outline: red solid 2px;
}

#essaytext .mdl-textfield.is-focused {
  width: 550px;
}
/* add the large essay box */
/* this is a problem because the text typed in will not remain when resizing the wiindow */
  /*#essaytext-expanded {
    display: block;
  }*/


#uploadelements {
  flex-direction: row;
}


/* this makes all cards have uniform content height */
#container .mdl-card__supporting-text {
  height: 155px;
}
